doctype html
html(lang='en')
  head
    title Inmobiliaria Gatti H.
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    meta(name='keywords',content='inmobiliaria,propiedad,campo,arrendamiento,alquiler,tandil,gatti,herman gatti,inmobiliaria herman gatti,inmobiliariagattih,alquileres')
    meta(name='author',content='herman gatti')
    meta(name='description',content='Inmobiliaria Herman Gatti-Tandil-')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/owl.carousel.css', rel='stylesheet')
    link(href='/stylesheets/owl.transitions.css', rel='stylesheet')
    link(href='/stylesheets/owl.theme.css', rel='stylesheet')
    link(href='/fonts/fontsaw/css/font-awesome.min.css' rel='stylesheet')
  body   
   div.container
    if user
     a(href="/users/logout").logout
      button.btn.btn-info(type="button") Cerrar Sessión
    div.row.banner
     div.col-xs-5
      if user
       a(href="/admin")
        img(id="logocompania" src="/images/logo2.png").img-responsive.img-rounded
      else
       a(href="/")
        img(id="logocompania" src="/images/logo2.png").img-responsive.img-rounded
    .row
     .col-lg-6
      i.icono(class="fa fa-phone" aria-hidden="true")   0249 4436672 - 154633127       
     .col-lg-6
      p.about
       a(href="/about") ¿Quiénes Somos?
        i.icono(class="fa fa-info" aria-hidden="true")
    .row
     .col-lg-6      
      i.icono(class="fa fa-map-marker" aria-hidden="true")  Av.Falucho 897       
     .col-lg-6
      p.about hermangatti@hotmail.com
       i.icono(class="fa fa-envelope" aria-hidden="true")
    hr
    .row
     .navegador
      ul.lista
        li
         a(href='/propiedades/Propiedad') Propiedades
          if propiedad
           span.glyphicon.glyphicon-pushpin
          if cate == 'propiedad'
           span.glyphicon.glyphicon-pushpin
        li
         a(href='/propiedades/Alquiler') Alquileres
          if alquiler
           span.glyphicon.glyphicon-pushpin
          if cate == 'alquiler'
           span.glyphicon.glyphicon-pushpin
        li
         a(href='/propiedades/Campo') Campos
          if campo
           span.glyphicon.glyphicon-pushpin
          if cate == 'campo'
           span.glyphicon.glyphicon-pushpin         
        li
         a(href='/propiedades/Lote') Lotes
          if lote
           span.glyphicon.glyphicon-pushpin
        li
         a(href='/propiedades/Arrendamiento') Arrendamientos
          if arrendamiento
           span.glyphicon.glyphicon-pushpin
    div.row
    != messages()
    hr
    block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/javascripts/bootstrap.js')
  script(src='/javascripts/owl.carousel.min.js')
  script(src='/javascripts/scripts.js')
